@import url(fontawesome-all.min.css);
@viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  font-size: 16pt;
}

body {
  line-height: 1;
  background: #1b1f22;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.65;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
  padding-left: 32px;
  padding-right: 32px;
}

footer,
header,
nav {
  display: block;
}

ul {
  list-style: none;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom-color: transparent;
}

p {
  margin: 0 0 32 0;
}

h1,
h2 {
  color: #ffffff;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 16 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1 {
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 8px;
}

h2 {
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 8px;
}

#social-media {
  display: none;
}

#header-nav-container {
  width: 100%;
}

#global-nav .nav-content {
  color: #ffffff;
  text-transform: uppercase;
  list-style-type: none;
  display: block;
  letter-spacing: 1px;
}

#global-nav .nav-content #navbar-name-home {
  float: left;
}

#global-nav .nav-content #navbar-contact-button {
  float: right;
}

.content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-transition: -moz-transform 0.325s ease-in-out,
    -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out,
    -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out,
    -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out,
    opacity 0.325s ease-in-out;
  max-width: 100%;
  text-align: center;
}

.content #main-content {
  border-style: solid;
  border-color: #ffffff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  max-width: 100%;
}

.content nav {
  position: relative;
  margin-top: 56px;
}

.content > * {
  -moz-transition: opacity 0.325s ease-in-out;
  -webkit-transition: opacity 0.325s ease-in-out;
  -ms-transition: opacity 0.325s ease-in-out;
  transition: opacity 0.325s ease-in-out;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
  position: relative;
  margin-top: 56px;
}

.content > *:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-56px - 1px);
  left: calc(50% - 1px);
  width: 1px;
  height: calc(56px + 1px);
  background: #ffffff;
}

.content > :first-child {
  margin-top: 0;
}

.content > :first-child:before {
  display: none;
}

.content #main-content {
  -moz-transition: max-height 0.75s ease, padding 0.75s ease,
    opacity 0.325s ease-in-out;
  -webkit-transition: max-height 0.75s ease, padding 0.75s ease,
    opacity 0.325s ease-in-out;
  -ms-transition: max-height 0.75s ease, padding 0.75s ease,
    opacity 0.325s ease-in-out;
  transition: max-height 0.75s ease-in-out, padding 0.75s ease-in-out,
    opacity 0.325s ease-in-out;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
  padding: 48px 32px;
  max-height: 640px;
  overflow: hidden;
}

.content #main-content > :last-child {
  margin-bottom: 0;
}

.content #main-content p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 2;
}

.content nav ul {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  border: solid 1px #ffffff;
  border-radius: 4px;
}

.content nav ul li {
  padding-left: 0;
  border-left: solid 1px #ffffff;
}

.content nav ul li:first-child {
  border-left: 0;
}

.content nav ul li a {
  display: block;
  min-width: 120px;
  height: 44px;
  line-height: 44px;
  padding: 0 20px 0 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  border-bottom: 0;
}

.content nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.content nav ul li a:active {
  background-color: rgba(255, 255, 255, 0.175);
}

body.is-preload .content > * {
  opacity: 0;
}

body.is-preload .content #main-content {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

body.transition .content #main-content {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

#main-intro.is-hide {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

#main-aboutme.is-hide {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

#main-work.is-hide {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

#main-ambitions.is-hide {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.main-bottom-panel-projects h2{
  text-align: center;
}

.main-bottom-panel-projects {
  -moz-transition: opacity 0.325s ease-in-out;
  -webkit-transition:n opacity 0.325s ease-in-out;
  -ms-transition: opacity 0.325s ease-in-out;
  transition: opacity 0.325s ease-in-out;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
  width: 80%;
  align-self: center;
}

body.is-preload .main-bottom-panel-projects {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.main-bottom-panel-projects #repo-table {
  text-align: left;
  width: 100%;
}

.main-bottom-panel-projects #repo-table #table-headers th{
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
}

#repo-table, th, td {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px;
  border-style: solid;
  border-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}